body {
  font-size: 16px;
  color: #2f2f31;
  margin: 0;
}

nav {
  width: 100%;
  background-color: #2f2f31;
  position: fixed;
}

ul {
  width: 100%;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

#toggle-icon {
  padding-right: 20px;
}

header {
  color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2f2f31;
}

header h1 {
  font-weight: 800;
  text-align: center;
  margin: 0;
}

header p {
  font-weight: 400;
  text-align: center;
}

#name {
  display: flex;
  align-items: baseline;
}

#name h1 {
  color: #5dc8f9;
}

#social-link {
  display: flex;
}

.anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

section {
  padding-bottom: 32px;
  margin: 0 48px;
  border-bottom: 1px solid #2f2f2f;
}

.section-header {
  text-align: center;
  margin: 25px 0;
}

h2 {
  font-size: 32px;
  font-weight: 200;
  text-transform: uppercase;
  color: #065c84;
  margin: 0;
}

p {
  font-size: 22px;
  text-align: center;
  margin: 3px 0;
}

.ul-skills {
  text-align: center;
}

.li-skills {
  color: #ffffff;
  padding: 5px 10px;
  margin: 5px;
  background-color: #065c84;
  display: inline-block;
}

#experience-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-card {
  max-width: 700px;
  padding: 25px;
  border: 1px solid #86868b;
  border-radius: 5px;
  margin: 16px 0 32px;
}

.experience-card-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #86868b;
  margin-bottom: 12px;
  display: flex;
}

.experience-card-body {
  padding: 0 25px;
}

.designation {
  font-size: 24px;
  color: #065c84;
}

.experience-li-card-body {
  list-style-type: circle;
  font-size: 22px;
}

#projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-card {
  max-width: 700px;
  padding: 25px;
  border: 1px solid #86868b;
  border-radius: 5px;
  margin: 16px 0 32px;
}

.projects-card-body {
  width: 100%;
  display: flex;
}

.project-name {
  font-size: 24px;
  color: #065c84;
}

.project-description {
  text-align: left;
}

@media only screen and (max-width: 799px) {
  #burger-nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
  }

  #ul-nav {
    height: 0;
    overflow: hidden;
  }

  #ul-nav.open {
    height: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
  }

  .li-nav a {
    text-decoration: none;
    color: #2f2f31;
    width: 100%;
    height: 60px;
    border: 1px solid #2f2f31;
    background-color: #eaeaeb;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .li-nav a:hover {
    font-size: 20px;
    color: #5dc8f9;
    background-color: #424245;
  }

  #resume a {
    color: #ffffff;
    background-color: #2f2f31;
  }

  #resume a:hover {
    color: #2f2f2f;
    background-color: #5dc8f9;
  }

  header h1 {
    font-size: 38px;
  }

  header p {
    font-size: 22px;
  }

  #name {
    flex-direction: column;
    align-items: center;
  }

  #social-link a {
    padding: 20px;
  }

  .experience-card-header {
    flex-direction: column;
    align-items: center;
  }

  .projects-card-body {
    flex-direction: column;
  }

  .projects-card-body-right {
    padding-top: 25px;
  }
}

@media only screen and (min-width: 800px) {
  #burger-nav {
    height: 0;
  }

  #ul-nav {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .li-nav a {
    text-decoration: none;
    color: #ffffff;
  }

  .li-nav a:hover {
    font-size: 20px;
    color: #5dc8f9;
  }

  #resume a {
    color: #2f2f31;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
  }

  #resume a:hover {
    color: #2f2f31;
    background-color: #5dc8f9;
  }

  #toggle-icon {
    visibility: hidden;
  }

  header h1 {
    font-size: 48px;
  }

  header p {
    font-size: 32px;
    margin: 20px;
  }

  #social-link a {
    padding: 0 30px;
  }

  #about-skills {
    display: flex;
    padding-bottom: 32px;
    border-bottom: 1px solid #2f2f2f;
    margin: 0 48px;
  }

  #about-section {
    flex: 0.5;
    border: none;
  }

  #skills-section {
    flex: 0.5;
    border: none;
  }

  .experience-card-header {
    justify-content: space-between;
    align-items: center;
  }

  .projects-card-body {
    flex-direction: row;
    justify-content: space-between;
  }

  .projects-card-body-right {
    padding: 0 25px;
  }
}
