body {
  color: #ffffff;
  background-color: #2f2f31;
  margin: 0;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0;
  width: 100%;
}

li {
  list-style-type: none;
}

#toggle-icon {
  padding-right: 20px;
}

header {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1 {
  margin: 0;
  font-weight: 800;
}

header p {
  font-weight: 400;
}

#name {
  display: flex;
  align-items: baseline;
}

#name h1 {
  color: #5dc8f9;
}

#social-link {
  width: 35%;
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 599px) {
  #burger-nav {
    width: 100%;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  ul {
    height: 0;
    overflow: hidden;
  }

  ul.open {
    height: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
  }

  ul li a {
    color: #2f2f31;
    background-color: #eaeaeb;
    text-decoration: none;
    border: 1px solid #2f2f31;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul li a:hover {
    color: #5dc8f9;
    background-color: #424245;
    font-size: 20px;
  }

  header h1 {
    font-size: 38px;
  }

  header p {
    font-size: 22px;
  }

  #name {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width: 600px) {
  #burger-nav {
    height: 0;
  }

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
  }

  ul li a {
    color: #ffffff;
    text-decoration: none;
  }

  ul li a:hover {
    color: #065c84;
    font-size: 20px;
  }

  #toggle-icon {
    visibility: hidden;
  }

  header h1 {
    font-size: 48px;
  }

  header p {
    margin: 20px;
    font-size: 32px;
  }
}
