body {
  font-size: 16px;
  color: #2f2f31;
  margin: 0;
}

nav {
  background-color: #2f2f31;
}

ul {
  width: 100%;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

#toggle-icon {
  padding-right: 20px;
}

header {
  color: #ffffff;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2f2f31;
}

header h1 {
  font-weight: 800;
  text-align: center;
  margin: 0;
}

header p {
  font-weight: 400;
  text-align: center;
}

#name {
  display: flex;
  align-items: baseline;
}

#name h1 {
  color: #5dc8f9;
}

#social-link {
  display: flex;
}

section {
  margin: 32px 48px 48px;
}

.section-header {
  text-align: center;
  margin: 25px 0;
}

h2 {
  font-size: 32px;
  font-weight: 200;
  text-transform: uppercase;
  color: #065c84;
}

p {
  font-size: 18px;
  text-align: center;
  margin: 3px 0;
}

.ul-skills {
  text-align: center;
}

.li-skills {
  color: #ffffff;
  padding: 5px 10px;
  margin: 5px;
  background-color: #065c84;
  display: inline-block;
}

#skills {
  margin: 25px 0;
}

@media only screen and (max-width: 599px) {
  #burger-nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
  }

  #ul-nav {
    height: 0;
    overflow: hidden;
  }

  #ul-nav.open {
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
  }

  .li-nav a {
    text-decoration: none;
    color: #2f2f31;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaeb;
    border: 1px solid #2f2f31;
  }

  .li-nav a:hover {
    font-size: 20px;
    color: #5dc8f9;
    background-color: #424245;
  }

  header h1 {
    font-size: 38px;
  }

  header p {
    font-size: 22px;
  }

  #name {
    flex-direction: column;
    align-items: center;
  }

  #social-link a {
    padding: 0 10px;
  }

  #about-body {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 600px) {
  #burger-nav {
    height: 0;
  }

  #ul-nav {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .li-nav a {
    text-decoration: none;
    color: #ffffff;
  }

  .li-nav a:hover {
    font-size: 20px;
    color: #5dc8f9;
  }

  #toggle-icon {
    visibility: hidden;
  }

  header h1 {
    font-size: 48px;
  }

  header p {
    font-size: 32px;
    margin: 20px;
  }

  #social-link a {
    padding: 0 30px;
  }

  #about-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #intro {
    flex: 0.5;
  }

  #skills {
    flex: 0.5;
    margin: 25px 0;
  }
}
